# Personal Project: Bike Sales Data
### By Joseph Tenerelli


#### Summary of Notebook

**Data Summary**: The data is Bike Sales data from the month of December. There are some errors, missing values, and other factors of the dataset that make it unclean.

**Import & Explore the Data**: First we need to read in the data and do some exploration. Once loaded in, I made a copy of the bike data to keep the original in case of mistakes or edits.

**Clean the Data**: From that copy, we will give correct/updated names to the columns/attributes. This will allow for easier use in the future. Once that is done, we can take our exploration results/notes and fix up the data. For this we had renaming of columns, fixing of mispellings, deleting duplicates, using KNNeighborClassifiers for finding missing data, and other cleaning procedures.

**Encoding & Splitting Summary**: Before being able to put the data into a KNeighborsClassifier, we will need to OneHotEncode our feature data and then LabelEncode our response data. Once that is done, we will have to split those encoded results into the test and train data. The X_train will be all the attributes, except the column we are predicting, with no missing data. The y_train will have the values from the column we are predicting, again without missing data. These two will train the classifier to be utilized on the X_test to predict y_test. X_test will include the attributes of information from the rows/indices where there was a missing value in the original data. y_test will be all of the rows that are missing in the column we are predicting.

**Impute Back Into DataFrame**: Now that we have finished the fit and predict, we will need to inverse the encoding back into the actual data from the original dataframe. This will give us a list of data to replace the missing values with.

**Analyze Data**: Now that we have a clean dataset, we can now start to explore the data and get results / find trends and information that could be useful for stakeholders

**Visualizations**: Lastly, let's make some visualizations of that analysis for easier understanding

In [1]:
#Starting codes/inputs

import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None)

## Step 1) Input & Explore the Data:

In [2]:
#Read in the excel sheet

bike_df = pd.read_excel('uncleaned bike sales data.xlsx')

In [3]:
bike_df.shape

(89, 19)

In [4]:
#Check if the headings all worked

bike_df.head()

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [5]:
bike_df['Sales_Order #'].value_counts(dropna=False)

#Looks like there is a repeat sale_order_number

Sales_Order #
261695    2
261701    2
261751    1
261759    1
261758    1
261757    1
261756    1
261755    1
261754    1
261753    1
261752    1
261750    1
261761    1
261749    1
261748    1
261747    1
261746    1
261745    1
261744    1
261743    1
261742    1
261760    1
261762    1
261740    1
261773    1
261781    1
261780    1
261779    1
261778    1
261777    1
261776    1
261775    1
261774    1
261772    1
261763    1
261771    1
261770    1
261769    1
261768    1
261767    1
261766    1
261765    1
261764    1
261741    1
261739    1
261697    1
261708    1
261716    1
261715    1
261714    1
261713    1
261712    1
261711    1
261710    1
261709    1
261707    1
261738    1
261706    1
261705    1
261704    1
261703    1
261702    1
261700    1
261699    1
261698    1
261717    1
261718    1
261719    1
261720    1
261737    1
261736    1
261735    1
261734    1
261733    1
261732    1
261731    1
261730    1
261729    1
261728    1
261727    1
261726    1
261725    1
261724    1
261723    1
261722    1
261721    1
261782    1
Name: count, dtype: int64

In [6]:
bike_df['Day'].value_counts(dropna=False)

#There is a day that does not have a day, but all dates were present

Day
19.0    10
18.0     7
22.0     6
10.0     6
12.0     5
20.0     5
11.0     5
13.0     4
8.0      4
6.0      4
3.0      4
17.0     3
5.0      3
23.0     3
14.0     3
16.0     3
21.0     2
1.0      2
2.0      2
9.0      2
7.0      2
15.0     1
NaN      1
4.0      1
24.0     1
Name: count, dtype: int64

In [7]:
bike_df['Month'].value_counts(dropna=False)

#Spelling of Decemeber is wrong for one entry

Month
December    88
Decmber      1
Name: count, dtype: int64

In [8]:
bike_df['Country'].value_counts(dropna=False)

#Few misspelled entries/extra spaces

Country
United States     30
Australia         27
United Kingdom     9
France             8
Germany            6
Canada             6
 United States     1
United  States     1
United States      1
Name: count, dtype: int64

In [9]:
bike_df['Age_Group'].value_counts(dropna=False)

#One Missing

Age_Group
Adults (35-64)          47
Young Adults (25-34)    31
Youth (<25)             10
NaN                      1
Name: count, dtype: int64

In [10]:
bike_df['Product_Description'].value_counts(dropna=False)

#One missing in this column

Product_Description
Mountain-200 Black, 46       15
Mountain-200 Silver, 38      14
Mountain-200 Black, 38       13
Mountain-200 Silver, 42       9
Mountain-200 Black, 42        7
Mountain-400-W Silver, 46     6
Mountain-200 Silver, 46       4
Mountain-400-W Silver, 42     4
Mountain-500 Silver, 42       3
Mountain-400-W Silver, 38     2
Mountain-500 Black, 42        2
Mountain-100 Black, 38        2
Mountain-500 Black, 40        2
Mountain-100 Black, 48        1
Mountain-500 Black, 44        1
NaN                           1
Mountain-500 Silver, 40       1
Mountain-100 Silver, 44       1
Mountain-500 Black, 52        1
Name: count, dtype: int64

In [11]:
bike_df['Order_Quantity'].value_counts(dropna=False)

#One NaN here as well

Order_Quantity
1.0    41
4.0    21
2.0    16
3.0    10
NaN     1
Name: count, dtype: int64

In [12]:
bike_df[' Unit_Cost '].value_counts(dropna=False)

#I noticed that the column name has two spaces before and after "Unit_Cost"
#There is also a row with a "0" entry here - could be a mistake or could just be a 0

 Unit_Cost
1252    35
1266    27
420     12
295      6
308      4
1898     3
0        1
1912     1
Name: count, dtype: int64

In [13]:
bike_df[' Unit_Price '].value_counts(dropna=False)

#Same here as 'unit cost'
#Also has a "0" entry for a row

 Unit_Price
2295    36
2320    27
769     11
540      6
565      4
3375     3
0        1
3400     1
Name: count, dtype: int64

In [14]:
bike_df[' Profit '].value_counts(dropna=False)

#Also has spaces

 Profit
1043    16
1054    16
4172     9
2086     8
3162     4
4216     4
349      4
1396     3
2108     3
245      3
3129     3
698      3
1047     2
1028     2
257      2
5908     2
2954     1
1488     1
980      1
490      1
735      1
Name: count, dtype: int64

In [15]:
bike_df[' Cost '].value_counts(dropna=False)

#Also has spaces
#There are some "0" entries here - could be a mistake or could just be a 0

 Cost
1252    16
1266    16
5008     9
2504     7
5064     4
3798     4
420      4
3756     3
1680     3
2532     3
840      3
0        2
7592     2
308      2
295      2
1232     2
1260     2
1912     1
3796     1
1180     1
590      1
885      1
Name: count, dtype: int64

In [16]:
bike_df['Revenue'].value_counts(dropna=False)

#There are some "0" entries here - could be a mistake or could just be a 0

Revenue
2295     16
2320     16
9180      9
4590      8
6960      4
9280      4
769       4
4640      3
6885      3
1538      3
0         2
2307      2
3076      2
2260      2
540       2
565       2
13500     2
6750      1
3400      1
2160      1
1080      1
1620      1
Name: count, dtype: int64

## Step 2) Fix Column Names

In [17]:
bike_data = bike_df.copy()

#Make a copy to maintain the original and it's current state

In [18]:
bike_data = bike_data.rename(columns=
                             {"Sales_Order #": "Order_Number",
                              " Unit_Cost ": "Unit_Cost",
                             " Unit_Price ": "Unit_Price",
                             " Profit ": "Profit",
                             " Cost ": "Cost"})

#Rename the columns without the spaces and consistent naming protocols (No "#")

In [19]:
bike_data.head()

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

## Step 3) Clean Up The Data

In [20]:
#There were 2 repeat order numbers, so I wonder if we are missing one or if they are repeats

bike_data.sort_values(by='Order_Number')

#There is no "261696" order number! 
#'261701' is also a repeat & should be dropped

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590
5,261700,2021-12-03,3.0,December,2021,24,Youth (<25),F,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
6,261701,2021-12-03,3.0,December,2021,37,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
7,261701,2021-12-03,3.0,December,2021,37,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
8,261702,2021-12-04,4.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420,0,1396,1680,0
9,261703,2021-12-05,5.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
10,261704,2021-12-05,NaN,December,2021,42,Adults (35-64),M,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Black, 38",4.0,1252,2295,4172,5008,9180
11,261705,2021-12-05,5.0,December,2021,35,Adults (35-64),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
12,261706,2021-12-05,5.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
13,261707,2021-12-06,6.0,December,2021,23,Youth (<25),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",3.0,420,769,1047,1260,2307
14,261708,2021-12-06,6.0,December,2021,27,Young Adults (25-34),M,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
15,261709,2021-12-06,6.0,December,2021,36,NaN,M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295
16,261710,2021-12-06,6.0,December,2021,47,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
17,261711,2021-12-07,7.0,Decmber,2021,30,Young Adults (25-34),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 38",4.0,420,769,1396,1680,3076
18,261712,2021-12-07,7.0,December,2021,38,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",2.0,1266,2320,2108,2532,4640
19,261713,2021-12-08,8.0,December,2021,19,Youth (<25),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-500 Silver, 42",4.0,308,565,1028,1232,2260
20,261714,2021-12-08,8.0,December,2021,30,Young Adults (25-34),F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",4.0,1266,2320,4216,5064,9280
21,261715,2021-12-08,8.0,December,2021,39,Adults (35-64),F,United States,Oregon,Bikes,Mountain Bikes,NaN,2.0,1252,2295,2086,2504,4590
22,261716,2021-12-08,8.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",NaN,295,540,245,0,0
23,261717,2021-12-09,9.0,December,2021,33,Young Adults (25-34),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-100 Black, 38",2.0,1898,3375,2954,3796,6750
24,261718,2021-12-09,9.0,December,2021,41,Adults (35-64),F,Germany,Hamburg,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
25,261719,2021-12-10,10.0,December,2021,34,Young Adults (25-34),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 42",2.0,1252,2295,2086,2504,4590
26,261720,2021-12-10,10.0,December,2021,40,Adults (35-64),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 42",2.0,1252,2295,2086,2504,4590
27,261721,2021-12-10,10.0,December,2021,26,Young Adults (25-34),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
28,261722,2021-12-10,10.0,December,2021,34,Young Adults (25-34),M,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 40",1.0,295,540,245,295,540
29,261723,2021-12-10,10.0,December,2021,34,Young Adults (25-34),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",1.0,1912,3400,1488,1912,3400
30,261724,2021-12-10,10.0,December,2021,38,Adults (35-64),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
31,261725,2021-12-11,11.0,December,2021,24,Youth (<25),F,France,Seine (Paris),Bikes,Mountain Bikes,"Mountain-200 Black, 38",3.0,1252,2295,3129,3756,6885
32,261726,2021-12-11,11.0,December,2021,41,Adults (35-64),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 38",2.0,420,769,698,840,1538
33,261727,2021-12-11,11.0,December,2021,27,Young Adults (25-34),M,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
34,261728,2021-12-11,11.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",1.0,420,769,349,420,769
35,261729,2021-12-11,11.0,December,2021,38,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
36,261730,2021-12-12,12.0,December,2021,36,Adults (35-64),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",4.0,1266,2320,4216,5064,9280
37,261731,2021-12-12,12.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",4.0,420,769,1396,1680,3076
38,261732,2021-12-12,12.0,December,2021,34,Young Adults (25-34),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",2.0,1252,2295,2086,2504,4590
39,261733,2021-12-12,12.0,December,2021,35,Adults (35-64),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
40,261734,2021-12-12,12.0,December,2021,38,Adults (35-64),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
41,261735,2021-12-13,13.0,December,2021,32,Young Adults (25-34),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",3.0,1266,2320,3162,3798,6960
42,261736,2021-12-13,13.0,December,2021,40,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Silver, 40",1.0,308,565,257,308,565
43,261737,2021-12-13,13.0,December,2021,44,Adults (35-64),F,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
44,261738,2021-12-13,13.0,December,2021,49,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
45,261739,2021-12-14,14.0,December,2021,30,Young Adults (25-34),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",2.0,1266,2320,2108,2532,4640
46,261740,2021-12-14,14.0,December,2021,32,Young Adults (25-34),M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
47,261741,2021-12-14,14.0,December,2021,32,Young Adults (25-34),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",1.0,420,769,349,420,769
48,261742,2021-12-15,15.0,December,2021,29,Young Adults (25-34),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
49,261743,2021-12-16,16.0,December,2021,33,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",2.0,1252,2295,2086,2504,4590
50,261744,2021-12-16,16.0,December,2021,38,Adults (35-64),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",2.0,1252,2295,2086,2504,4590
51,261745,2021-12-16,16.0,December,2021,27,Young Adults (25-34),F,France,Seine et Marne,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",1.0,1266,2320,1054,1266,2320
52,261746,2021-12-17,17.0,December,2021,37,Adults (35-64),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",2.0,1266,2320,2108,2532,4640
53,261747,2021-12-17,17.0,December,2021,31,Young Adults (25-34),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
54,261748,2021-12-17,17.0,December,2021,42,Adults (35-64),F,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",1.0,1266,2320,1054,1266,2320
55,261749,2021-12-18,18.0,December,2021,35,Adults (35-64),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-500 Silver, 42",4.0,308,565,1028,1232,2260
56,261750,2021-12-18,18.0,December,2021,38,Adults (35-64),F,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",4.0,1266,2320,4216,5064,9280
57,261751,2021-12-18,18.0,December,2021,24,Youth (<25),F,France,Seine Saint Denis,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",3.0,1266,2320,3162,3798,6960
58,261752,2021-12-18,18.0,December,2021,26,Young Adults (25-34),F,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",3.0,420,769,1047,1260,2307
59,261753,2021-12-18,18.0,December,2021,39,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 42",3.0,1252,2295,3129,3756,6885
60,261754,2021-12-18,18.0,December,2021,26,Young Adults (25-34),M,France,Seine (Paris),Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
61,261755,2021-12-18,18.0,December,2021,36,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
62,261756,2021-12-19,19.0,December,2021,17,Youth (<25),M,France,Nord,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",4.0,1266,2320,4216,5064,9280
63,261757,2021-12-19,19.0,December,2021,19,Youth (<25),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-500 Black, 44",4.0,295,540,980,1180,2160
64,261758,2021-12-19,19.0,December,2021,25,Young Adults (25-34),M,France,Seine (Paris),Bikes,Mountain Bikes,"Mountain-200 Black, 38",4.0,1252,2295,4172,5008,9180
65,261759,2021-12-19,19.0,December,2021,35,Adults (35-64),F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-100 Black, 48",4.0,1898,3375,5908,7592,13500
66,261760,2021-12-19,19.0,December,2021,37,Adults (35-64),M,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Black, 38",4.0,1252,2295,4172,5008,9180
67,261761,2021-12-19,19.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
68,261762,2021-12-19,19.0,December,2021,63,Adults (35-64),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
69,261763,2021-12-19,19.0,December,2021,18,Youth (<25),M,Australia,South Australia,Bikes,Mountain Bikes,"Mountain-500 Black, 40",2.0,295,540,490,590,1080
70,261764,2021-12-19,19.0,December,2021,56,Adults (35-64),F,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,1252,2295,2086,2504,4590
71,261765,2021-12-19,19.0,December,2021,39,Adults (35-64),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
72,261766,2021-12-20,20.0,December,2021,33,Young Adults (25-34),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-100 Black, 38",4.0,1898,3375,5908,7592,13500
73,261767,2021-12-20,20.0,December,2021,57,Adults (35-64),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
74,261768,2021-12-20,20.0,December,2021,29,Young Adults (25-34),M,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-500 Black, 52",3.0,295,540,735,885,1620
75,261769,2021-12-20,20.0,December,2021,35,Adults (35-64),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
76,261770,2021-12-20,20.0,December,2021,35,Adults (35-64),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
77,261771,2021-12-21,21.0,December,2021,26,Young Adults (25-34),M,France,Somme,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",3.0,1266,2320,3162,3798,6960
78,261772,2021-12-21,21.0,December,2021,23,Youth (<25),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
79,261773,2021-12-22,22.0,December,2021,30,Young Adults (25-34),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",3.0,1266,2320,3162,3798,6960
80,261774,2021-12-22,22.0,December,2021,41,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 42",3.0,1252,2295,3129,3756,6885
81,261775,2021-12-22,22.0,December,2021,19,Youth (<25),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-500 Silver, 42",1.0,308,565,257,308,565
82,261776,2021-12-22,22.0,December,2021,25,Young Adults (25-34),M,France,Seine (Paris),Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
83,261777,2021-12-22,22.0,December,2021,27,Young Adults (25-34),F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
84,261778,2021-12-22,22.0,December,2021,41,Adults (35-64),M,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
85,261779,2021-12-23,23.0,December,2021,30,Young Adults (25-34),F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
86,261780,2021-12-23,23.0,December,2021,31,Young Adults (25-34),F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295
87,261781,2021-12-23,23.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295,540,245,295,540
88,261782,2021-12-24,24.0,December,2021,38,Adults (35-64),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 42",4.0,1252,2295,4172,5008,9180

In [21]:
bike_data[bike_data['Order_Number'] == 261695]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320

In [22]:
bike_data.loc[1, 'Order_Number'] = 261696

In [23]:
bike_data[bike_data['Order_Number'] == 261701]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
6,261701,2021-12-03,3.0,December,2021,37,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
7,261701,2021-12-03,3.0,December,2021,37,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295

In [24]:
bike_data = bike_data.drop([6])

In [25]:
bike_data['Order_Number'].value_counts(dropna=False)

#All 1's!

Order_Number
261695    1
261696    1
261759    1
261758    1
261757    1
261756    1
261755    1
261754    1
261753    1
261752    1
261751    1
261750    1
261749    1
261748    1
261747    1
261746    1
261745    1
261744    1
261743    1
261742    1
261741    1
261760    1
261761    1
261762    1
261773    1
261781    1
261780    1
261779    1
261778    1
261777    1
261776    1
261775    1
261774    1
261772    1
261763    1
261771    1
261770    1
261769    1
261768    1
261767    1
261766    1
261765    1
261764    1
261740    1
261739    1
261738    1
261706    1
261714    1
261713    1
261712    1
261711    1
261710    1
261709    1
261708    1
261707    1
261705    1
261716    1
261704    1
261703    1
261702    1
261701    1
261700    1
261699    1
261698    1
261697    1
261715    1
261717    1
261737    1
261728    1
261736    1
261735    1
261734    1
261733    1
261732    1
261731    1
261730    1
261729    1
261727    1
261718    1
261726    1
261725    1
261724    1
261723    1
261722    1
261721    1
261720    1
261719    1
261782    1
Name: count, dtype: int64

In [26]:
#Let's start with the missing "Day" value

bike_data['Day'].value_counts(dropna=False)

Day
19.0    10
18.0     7
22.0     6
10.0     6
12.0     5
20.0     5
11.0     5
13.0     4
8.0      4
6.0      4
17.0     3
5.0      3
23.0     3
14.0     3
3.0      3
16.0     3
21.0     2
1.0      2
2.0      2
9.0      2
7.0      2
15.0     1
NaN      1
4.0      1
24.0     1
Name: count, dtype: int64

In [27]:
bike_data[bike_data['Day'].isnull()]

#We can see from the "Date" that the "Day" should equal '5.0'

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
10,261704,2021-12-05,NaN,December,2021,42,Adults (35-64),M,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Black, 38",4.0,1252,2295,4172,5008,9180

In [28]:
bike_data.loc[10, 'Day']

#Isolate the exact value we want to change

nan

In [29]:
bike_data.loc[10, 'Day'] = 5.0

#Set it to the date of 5.0

In [30]:
bike_data.loc[10, 'Day']

#It has been set!

5.0

In [31]:
bike_data[bike_data['Age_Group'].isnull()]

#Let's make this person's Age_Group the same as someone else as age 36

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
15,261709,2021-12-06,6.0,December,2021,36,NaN,M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295

In [32]:
bike_data[bike_data['Customer_Age'] == 36]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
15,261709,2021-12-06,6.0,December,2021,36,NaN,M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295
36,261730,2021-12-12,12.0,December,2021,36,Adults (35-64),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",4.0,1266,2320,4216,5064,9280
61,261755,2021-12-18,18.0,December,2021,36,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320

In [33]:
bike_data.loc[15, 'Age_Group'] = bike_data.loc[36, 'Age_Group']

In [34]:
#Next we can turn to the month misspelling

bike_data['Month'].value_counts(dropna=False)

#Spelling of Decemeber is wrong for one entry

Month
December    87
Decmber      1
Name: count, dtype: int64

In [35]:
bike_data[bike_data['Month'] == 'Decmber']

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
17,261711,2021-12-07,7.0,Decmber,2021,30,Young Adults (25-34),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 38",4.0,420,769,1396,1680,3076

In [36]:
bike_data.loc[17, 'Month']

'Decmber'

In [37]:
bike_data.loc[17, 'Month'] = 'December'

In [38]:
bike_data.loc[17, 'Month']

#Checked & we are good!

'December'

In [39]:
#Let's fix the United States problems

bike_data['Country'].value_counts(dropna=False)

Country
United States     30
Australia         27
United Kingdom     9
France             8
Germany            6
Canada             6
 United States     1
United  States     1
Name: count, dtype: int64

In [40]:
bike_data[bike_data['Country'] == ' United States']

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538

In [41]:
bike_data.loc[2, 'Country']

' United States'

In [42]:
bike_data.loc[2, 'Country'] = 'United States'

In [43]:
bike_data[bike_data['Country'] == 'United  States']

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [44]:
bike_data.loc[4, 'Country']

'United  States'

In [45]:
bike_data.loc[4, 'Country'] = 'United States'

In [46]:
bike_data['Country'].value_counts(dropna=False)

#Much better!

Country
United States     32
Australia         27
United Kingdom     9
France             8
Germany            6
Canada             6
Name: count, dtype: int64

In [47]:
bike_data['Product_Description'].value_counts(dropna=False)

Product_Description
Mountain-200 Black, 46       14
Mountain-200 Silver, 38      14
Mountain-200 Black, 38       13
Mountain-200 Silver, 42       9
Mountain-200 Black, 42        7
Mountain-400-W Silver, 46     6
Mountain-200 Silver, 46       4
Mountain-400-W Silver, 42     4
Mountain-500 Silver, 42       3
Mountain-400-W Silver, 38     2
Mountain-500 Black, 42        2
Mountain-100 Black, 38        2
Mountain-500 Black, 40        2
Mountain-100 Black, 48        1
Mountain-500 Black, 44        1
NaN                           1
Mountain-500 Silver, 40       1
Mountain-100 Silver, 44       1
Mountain-500 Black, 52        1
Name: count, dtype: int64

In [48]:
#Let's perform a KNNeighbors classifier to find the missing value!

bike_product_target = bike_data[['Product_Description']]
bike_product_data = bike_data.drop(['Product_Description'], axis=1)

In [49]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
bike_product_target_encoded = label_encoder.fit_transform(bike_product_target['Product_Description'].values)

onehot_encoder = OneHotEncoder(sparse_output=False)
bike_product_data_encoded = onehot_encoder.fit_transform(bike_product_data)

In [50]:
X_train = bike_product_data_encoded[~bike_product_target['Product_Description'].isnull()]
y_train = bike_product_target_encoded[~bike_product_target['Product_Description'].isnull()]
X_test = bike_product_data_encoded[bike_product_target['Product_Description'].isnull()]
y_test = bike_product_target_encoded[bike_product_target['Product_Description'].isnull()]

In [51]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

labels = knn.predict(X_test)

In [52]:
missing_values = label_encoder.inverse_transform(labels)
missing_values

#The KNN calculated that the bike product is probably the 'Mountain-200 Black, 42' !

array(['Mountain-200 Black, 42'], dtype=object)

In [53]:
#Replace it with that result and save it to the dataframe

bike_data.loc[bike_data['Product_Description'].isnull(), 'Product_Description'] = missing_values

In [54]:
bike_data['Order_Quantity'].value_counts(dropna=False)

Order_Quantity
1.0    40
4.0    21
2.0    16
3.0    10
NaN     1
Name: count, dtype: int64

In [55]:
bike_data[bike_data['Order_Quantity'].isnull()]

#Let's do another classifier to find this (judging from my exploration & profit - I am assuming 1.0)

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
22,261716,2021-12-08,8.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",NaN,295,540,245,0,0

In [56]:
bike_quantity_target = bike_data[['Order_Quantity']]
bike_quantity_data = bike_data.drop(['Order_Quantity', 
                                    'Year', 
                                    'Customer_Age', 
                                    'Age_Group', 
                                    'Product_Category', 
                                    'Sub_Category'],
                                    axis=1)

#I am dropping the features that are most likely not relevant to predicting the quantity of the order

In [57]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
bike_quantity_target_encoded = label_encoder.fit_transform(bike_quantity_target['Order_Quantity'].values)

onehot_encoder = OneHotEncoder(sparse_output=False)
bike_quantity_data_encoded = onehot_encoder.fit_transform(bike_quantity_data)

In [58]:
X_train = bike_quantity_data_encoded[~bike_quantity_target['Order_Quantity'].isnull()]
y_train = bike_quantity_target_encoded[~bike_quantity_target['Order_Quantity'].isnull()]
X_test = bike_quantity_data_encoded[bike_quantity_target['Order_Quantity'].isnull()]
y_test = bike_quantity_target_encoded[bike_quantity_target['Order_Quantity'].isnull()]

In [59]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

labels = knn.predict(X_test)

In [60]:
missing_values = label_encoder.inverse_transform(labels)
missing_values

#The KNN calculated order quantity to be '1.0' (as I assumed)

array([1.])

In [61]:
#Replace it with that result and save it to the dataframe

bike_data.loc[bike_data['Order_Quantity'].isnull(), 'Order_Quantity'] = missing_values

In [62]:
bike_data['Order_Quantity'].value_counts(dropna=False)

#Ta-da!

Order_Quantity
1.0    41
4.0    21
2.0    16
3.0    10
Name: count, dtype: int64

In [63]:
#I now want to explore ALL of the price/money related values that are 0 to see what is happening here

In [64]:
bike_data[bike_data['Unit_Cost'] == 0]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [65]:
bike_data[bike_data['Unit_Price'] == 0]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
8,261702,2021-12-04,4.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420,0,1396,1680,0

In [66]:
bike_data[bike_data['Cost'] == 0]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590
22,261716,2021-12-08,8.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295,540,245,0,0

In [67]:
bike_data[bike_data['Revenue'] == 0]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
8,261702,2021-12-04,4.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420,0,1396,1680,0
22,261716,2021-12-08,8.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295,540,245,0,0

In [68]:
#Cost = Order_Quantity * Unit_Cost  OR  Revenue - Profit
#Profit = (Unit_Price - Unit_Cost) * Order_Quantity  OR  Revenue - Cost
#Revenue = Order_Quantity * Unit_Price  OR  Profit + Cost

#Let's fine the missing Unit_Cost and Unit_Price and then we can make new Profit, Cost, Revenue columns with the correct info

In [69]:
bike_data[bike_data['Unit_Cost'] == 0]

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [70]:
bike_unit_cost_target = bike_data[['Unit_Cost']]
bike_unit_cost_data = bike_data.drop(['Unit_Cost', 
                                    'Year', 
                                    'Customer_Age', 
                                    'Age_Group', 
                                    'Product_Category', 
                                    'Sub_Category',
                                     'Profit',
                                     'Cost',
                                     'Revenue'],
                                    axis=1)

#I am dropping the features that are most likely not relevant and also possibly incorrect due to not having correct info

In [71]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
bike_unit_cost_target_encoded = label_encoder.fit_transform(bike_unit_cost_target['Unit_Cost'].values)

onehot_encoder = OneHotEncoder(sparse_output=False)
bike_unit_cost_data_encoded = onehot_encoder.fit_transform(bike_unit_cost_data)

In [72]:
X_train = bike_unit_cost_data_encoded[bike_unit_cost_target['Unit_Cost'] != 0]
y_train = bike_unit_cost_target_encoded[bike_unit_cost_target['Unit_Cost'] != 0]
X_test = bike_unit_cost_data_encoded[bike_unit_cost_target['Unit_Cost'] == 0]
y_test = bike_unit_cost_target_encoded[bike_unit_cost_target['Unit_Cost'] == 0]

In [73]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

labels = knn.predict(X_test)

In [74]:
missing_values = label_encoder.inverse_transform(labels)
missing_values

#The KNN calculated order quantity to be '1.0' (as I assumed)

array([1252], dtype=int64)

In [75]:
bike_data.loc[bike_data['Unit_Cost'] == 0, 'Unit_Cost'] = missing_values

In [76]:
#Now same thing for unit_price

In [77]:
bike_unit_price_target = bike_data[['Unit_Price']]
bike_unit_price_data = bike_data.drop(['Unit_Price', 
                                    'Year', 
                                    'Customer_Age', 
                                    'Age_Group', 
                                    'Product_Category', 
                                    'Sub_Category',
                                     'Profit',
                                     'Cost',
                                     'Revenue'],
                                    axis=1)

In [78]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
bike_unit_price_target_encoded = label_encoder.fit_transform(bike_unit_price_target['Unit_Price'].values)

onehot_encoder = OneHotEncoder(sparse_output=False)
bike_unit_price_data_encoded = onehot_encoder.fit_transform(bike_unit_price_data)

In [79]:
X_train = bike_unit_price_data_encoded[bike_unit_price_target['Unit_Price'] != 0]
y_train = bike_unit_price_target_encoded[bike_unit_price_target['Unit_Price'] != 0]
X_test = bike_unit_price_data_encoded[bike_unit_price_target['Unit_Price'] == 0]
y_test = bike_unit_price_target_encoded[bike_unit_price_target['Unit_Price'] == 0]

In [80]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

labels = knn.predict(X_test)

In [81]:
missing_values = label_encoder.inverse_transform(labels)
missing_values

#The KNN calculated order quantity to be '1.0' (as I assumed)

array([769], dtype=int64)

In [82]:
bike_data.loc[bike_data['Unit_Price'] == 0, 'Unit_Price'] = missing_values

In [83]:
#Let's make new columns for these values with new mathematics for the entire DF

#Profit = (Unit_Price - Unit_Cost) * Order_Quantity  OR  Revenue - Cost
#Cost = Order_Quantity * Unit_Cost  OR  Revenue - Profit
#Revenue = Order_Quantity * Unit_Price  OR  Profit + Cost

In [84]:
bike_data = bike_data.drop(['Profit', 'Cost', 'Revenue'], axis=1)

In [85]:
bike_data['Profit'] = ((bike_data['Unit_Price'] - bike_data['Unit_Cost']) * bike_data['Order_Quantity']).astype('int32')
bike_data['Cost'] = (bike_data['Order_Quantity'] * bike_data['Unit_Cost']).astype('int32')
bike_data['Revenue'] = (bike_data['Order_Quantity'] * bike_data['Unit_Price']).astype('int32')

In [86]:
bike_data.reset_index()
bike_data.head(10)

#Reseting the index after the drops and cleaning

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261696,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,1252,2295,2086,2504,4590
5,261700,2021-12-03,3.0,December,2021,24,Youth (<25),F,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
7,261701,2021-12-03,3.0,December,2021,37,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
8,261702,2021-12-04,4.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420,769,1396,1680,3076
9,261703,2021-12-05,5.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
10,261704,2021-12-05,5.0,December,2021,42,Adults (35-64),M,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Black, 38",4.0,1252,2295,4172,5008,9180

In [87]:
#The data is now clean and ready for analysis!

## Step 4) Analyze the Data

In [88]:
#Just checking the overall info of the data
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88 entries, 0 to 88
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order_Number         88 non-null     int64
 1   Date                 88 non-null     datetime64[ns]
 2   Day                  88 non-null     float64
 3   Month                88 non-null     object
 4   Year                 88 non-null     int64
 5   Customer_Age         88 non-null     int64
 6   Age_Group            88 non-null     object
 7   Customer_Gender      88 non-null     object
 8   Country              88 non-null     object
 9   State                88 non-null     object
 10  Product_Category     88 non-null     object
 11  Sub_Category         88 non-null     object
 12  Product_Description  88 non-null     object
 13  Order_Quantity       88 non-null     float64
 14  Unit_Cost            88 non-null     int64
 15  Unit_Price           88 non-null     int64
 16  Profit               88 non-null     int32
 17  Cost                 88 non-null     int32
 18  Revenue              88 non-null     int32
dtypes: datetime64[ns](1), float64(2), int32(3), int64(5), object(8)
memory usage: 14.8+ KB

In [89]:
#Let's look at some of those numerical columns and explore

bike_data[['Customer_Age', 'Order_Quantity', 'Profit', 'Cost', 'Revenue']].describe()

       Customer_Age  Order_Quantity       Profit         Cost       Revenue
count     88.000000       88.000000    88.000000    88.000000     88.000000
mean      34.170455        2.125000  1858.045455  2246.863636   4104.909091
std        8.131423        1.239322  1399.697709  1716.810188   3115.834755
min       17.000000        1.000000   245.000000   295.000000    540.000000
25%       29.750000        1.000000  1043.000000  1252.000000   2295.000000
50%       35.000000        2.000000  1054.000000  1266.000000   2320.000000
75%       38.000000        3.000000  2997.750000  3756.000000   6783.750000
max       63.000000        4.000000  5908.000000  7592.000000  13500.000000

In [90]:
#Also exploring some of the cateogrical data

bike_data[['Age_Group', 'Customer_Gender', 'Country', 'Product_Description']].describe()

             Age_Group Customer_Gender        Country     Product_Description
count               88              88             88                      88
unique               3               2              6                      18
top     Adults (35-64)               F  United States  Mountain-200 Black, 46
freq                47              50             32                      14

In [91]:
#Curious to know if there is a trend in which days these sales are happening

print(bike_data[['Day']].value_counts().head())
print()
print('Number of Orders in these days:')
print(bike_data[['Day']].value_counts().head().sum())
print()
print('Percentage of Month:')
print((bike_data[['Day']].value_counts().head().sum())/len(bike_data['Order_Number'])*100)

#Interesting that 34/88 orders in the month (or 38.64%) were in these 5 days

Day
19.0    10
18.0     7
22.0     6
10.0     6
11.0     5
Name: count, dtype: int64

Number of Orders in these days:
34

Percentage of Month:
38.63636363636363

In [92]:
#Let's see the highest revenue orders

bike_data.sort_values(by=['Revenue'], ascending=False).head(10)

,Order_Number,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
72,261766,2021-12-20,20.0,December,2021,33,Young Adults (25-34),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-100 Black, 38",4.0,1898,3375,5908,7592,13500
65,261759,2021-12-19,19.0,December,2021,35,Adults (35-64),F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-100 Black, 48",4.0,1898,3375,5908,7592,13500
20,261714,2021-12-08,8.0,December,2021,30,Young Adults (25-34),F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",4.0,1266,2320,4216,5064,9280
62,261756,2021-12-19,19.0,December,2021,17,Youth (<25),M,France,Nord,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",4.0,1266,2320,4216,5064,9280
56,261750,2021-12-18,18.0,December,2021,38,Adults (35-64),F,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",4.0,1266,2320,4216,5064,9280
36,261730,2021-12-12,12.0,December,2021,36,Adults (35-64),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",4.0,1266,2320,4216,5064,9280
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
73,261767,2021-12-20,20.0,December,2021,57,Adults (35-64),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
68,261762,2021-12-19,19.0,December,2021,63,Adults (35-64),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
67,261761,2021-12-19,19.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180

In [93]:
#I wonder if there is an average age difference between female and males

print('Mean Female Age:')
print(bike_data[bike_data['Customer_Gender'] == 'F']['Customer_Age'].mean())
print()
print('Mean Male Age:')
print(bike_data[bike_data['Customer_Gender'] == 'M']['Customer_Age'].mean())

#Not even a little bit - which is interesting!

Mean Female Age:
34.2

Mean Male Age:
34.13157894736842

In [94]:
#Curious to know the average profit for females vs males

print('Mean Female Profit:')
print(bike_data[bike_data['Customer_Gender'] == 'F']['Profit'].mean())
print()
print('Mean Male Profit:')
print(bike_data[bike_data['Customer_Gender'] == 'M']['Profit'].mean())

Mean Female Profit:
1950.86

Mean Male Profit:
1735.921052631579

In [95]:
print('Number of Female Order Quantities')
print(bike_data[bike_data['Customer_Gender'] == 'F'][['Order_Quantity']].value_counts())
print()
print('Number of Male Order Quantities')
print(bike_data[bike_data['Customer_Gender'] == 'M'][['Order_Quantity']].value_counts())

Number of Female Order Quantities
Order_Quantity
1.0               23
4.0               13
2.0                9
3.0                5
Name: count, dtype: int64

Number of Male Order Quantities
Order_Quantity
1.0               18
4.0                8
2.0                7
3.0                5
Name: count, dtype: int64

## Step 5) Visualization

Please note that for the visualziation stage, I am going to use Tableau

In [96]:
bike_data.to_csv(r'C:\Users\Tenni\OneDrive\Documents\Job Stuff\Personal Projects\Cleaned Bike Data.csv', index=False)